body{
	margin: 0 auto;
}

.img-fluid{
	height: 250px;
	width: 250px;
}



.emotion-btn{
	margin: 8px; 
	font-size: 18px;
	background-color: #127bb7;
	color: white;
	border-radius: 100px;
	text-align: center;
}

.rating{
	text-align: center;
	font-weight: bold;
}

#add-emotion{
	margin: 8px;
	background-color: #127bb7;
	color: white;
	border-radius: 100px;
	font-weight: bolder;
	font-size: 15px;
}

.emotion{
	border: 3px solid #127bb7;
	border-radius: 30px;
	width: 100%;
}

.gifImg{
	
	border-radius: 50px;
	height: 250px;
	
	

}

